@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Space+Mono:wght@700&display=swap');

* {
	font-family: "Space Mono";
	color: white;
	text-align: center;
	text-shadow: 0 0 6px #3d85c6;
}

body {
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 386px;
	width: 580px;
	border-radius: 60%;
}

img:hover {
	transform: scale(1.05);
	box-shadow: 10px 10px black;
}

#home {
	display: flex;
	justify-content: space-between;
  	list-style: none;
	margin: 0px;
	padding: 0px;	
}

li {
	padding-left: 11%;
	padding-right: 11%;
	padding-top: 5px;
	padding-bottom: 5px;
}

a {
	text-decoration: none;
}

.important, .L-I{
	font-weight: 1000;
}

a:hover {
text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #f3f6f4,
      0 0 82px #f3f6f4,
      0 0 92px #f3f6f4,
      0 0 102px #f3f6f4,
      0 0 151px #f3f6f4;
}

.important {
	text-shadow: 0 0 6px #f44336;
}

.L-I {
	text-shadow: 0 0 6px #f1c232;
}

table {
	margin-left: auto;
	margin-right: auto
}

.table-corner:hover , .table-middle:hover {
	filter: invert(100%);
	text-shadow: 0 0 6px #000000;
}
